body {
    background-color: black;
}
.inner {
  display: flex;
    justify-content: space-around;
    padding: 300px;
}

div {
    display: inline-block;
    height: 250px;
    width: 400px;
    background-color: aqua;
    color:bisque;
    border-radius: 3%;
}
p {
    text-align: center;
    font-size: large;
}
h1 { 
    text-align:center;
}
h3 {
    padding: 100px;
}